<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zouqi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".W_login"
            android:label="@string/title_activity_w_buildactivity" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Z_Organization"
            android:label="@string/title_activity_z__organization" >
        </activity>
        <activity
            android:name=".W_register"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="走你" >
        </activity>
        <activity
            android:name=".W_buildactivityscroll"
            android:label="@string/title_activity_personal" >
        </activity>
        <activity
            android:name=".L_hot"
            android:label="@string/title_activity_l_hot" >
        </activity>
        <activity
            android:name=".L_tab_hot"
            android:label="@string/title_activity_l_tab_hot" >
        </activity>
        <activity
            android:name=".L_tab_home"
            android:label="@string/title_activity_l_tab_home" >
        </activity>
        <activity
            android:name=".L_tab_group"
            android:label="@string/title_activity_l_tab_group" >
        </activity>
        <activity
            android:name=".L_tab_person"
            android:label="@string/title_activity_l_tab_person" >
        </activity>
        <activity
            android:name=".L_activity_detail"
            android:label="@string/title_activity_l_activity_detail" >
        </activity>
        <activity
            android:name=".Z_OrgDetail"
            android:label="@string/title_activity_z__org_detail" >
        </activity>
        <activity
            android:name=".Z_OrgSearchList"
            android:label="@string/title_activity_z__org_search_list" >
        </activity>
        <activity
            android:name=".Z_OrgAct"
            android:label="@string/title_activity_z__org" >
         </activity>
        <activity
            android:name=".W_Test"
            android:label="@string/title_activity_w__test" >
        </activity>
        <activity
            android:name=".W_personal"
            android:label="@string/title_activity_w_buildactivity">
        </activity>
    </application>

</manifest>
